<span class="blog-select-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#blog/{{ _id }}/">{{ title }}</a></span><button class="delete-btn btn btn-danger" type="button" name="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
