<div class="form-group">
  <label for="">Got something to say? Write it here:</label>
  <input class="form-control blog-title" type="text" placeholder="Title goes here">
  <textarea class="form-control blog-text" name="blog-post" rows="8" cols="80" placeholder="Share your thoughts..."></textarea>

  <button class="btn submit-btn" type="submit" name="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Post</button>
</div>
