<div class="tag-wrapper">
  {{#each tagItem}}
  <li id="sort-tag" class="{{ this }}">
    <a href="#category/{{ this }}">
      <button  class="{{ this }}">{{ this }}</button>
    </a>
  </li>
  {{/each}}
</div>
