<div class="form-group">
  <h1>Personal Information Form:</h1>
  <input class="form-control first-name"type="text" placeholder="First Name">
  <input class="form-control last-name"type="text" placeholder="Last Name">
  <input class="form-control address"type="text" placeholder="Address">
  <input class="form-control phone-number"type="text" placeholder="Phone Number">

  <button type="submit" class="btn btn-default">Submit</button>
</div>
